@font-face {
	/*
	 * http://www.google.com/webfonts/
	 * All of the fonts are Open Source.
	 * This means that you are free to share your favorites with friends and colleagues.
	 * You can even improve or customize them and collaborate with the original designer.
	 * And you can use them in every way you want, privately or commercially – in print,
	 * on your computer, or in your websites.
	 */
    font-family: 'Tenor Sans';
	font-style: normal;
	font-weight: normal;
    src: local('Tenor Sans'),
    url(../fonts/TenorSans-Regular.ttf);
}

* {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 13px;
}

html, body, form, div, table, tr, td {
	margin: 0;
	padding: 0;
}

body {
	background: url(../img/body.png) #eeeeee;
}
a {
	outline: none;
	color: #004d78;
	text-decoration: underline;
	cursor: pointer;
}

/* navigation */
div.nav {
	margin-bottom: 10px;
	text-align: right;
}
a.nav {
	border: 1px solid #0065a3;
	padding: 3px 8px;
	text-decoration: none;
	margin-right: 8px;
}
a.nav:hover, span.nav {
	border: 1px solid #0065a3;
	padding: 3px 8px;
	background-color: #0084c7;
	color: white;
	margin-right: 8px;
}
/*-------------------*/

span.newmessage {
	margin-top: -5px;
	vertical-align: top;
}

br {
	clear: both;
}

img {
	border: none;
}

/* Вспомогательные классы */
.center {
	text-align: center;
}
.red {
	border: 1px solid red;
}

/* Основное навигационное меню */

div.head {
	background: url(../img/fon.png) #000;
	height: 100px;
	z-index: 1;
}
	
	/* логотип и название панели */

	div.head div.logo {
		position: absolute;
		top: 20px;
		left: 3%;
		width: 94%;
		height: 30px;
		vertical-align: bottom;
		font-size: 20px;
		color: #fff;
		text-shadow: #000 1px 1px 1px;
	}
		div.head div.logo div.logo_menu {
			float: right;
			text-align: right;
			vertical-align: bottom;
		}
			div.head div.logo div.logo_menu  a{
				margin-left: 15px;
				color: #fff;
				text-shadow: #000 1px 1px 1px;
			}
			div.head div.logo div.logo_menu  #update {
				text-decoration: none;
				cursor: pointer;
			}
			div.head div.logo div.logo_menu  a:hover, div.head div.logo div.logo_menu  a.active{
				text-decoration: none;
				color: #DDD;
			}
	
	/* навигация в шапке */

	div.head div.navigator {
		position: relative;
		top: 68px;
		left: 3%;
		width: 94%;
		height: 30px;
		vertical-align: bottom;
	}
		div.head div.navigator div.navlink {
			float: left;
			text-align: center;
			vertical-align: middle;
			margin-right: 5px;
			min-width: 50px;
			height: 30px;
		}
		/* div.head div.navigator div.navlink:hover {
			background-color: #e7e7e7;
		} */
		div.head div.navigator div.navlink_action {
			float: left;
			text-align: center;
			vertical-align: middle;
			margin-right: 5px;
			height: 18px;
			background-color: #fff;
			padding: 9px 15px;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
			div.head div.navigator div.navlink a {
				text-shadow: #e6e6e6 1px 1px 1px;
				color: #333333;
				text-decoration: none;
				display:block;				
				height: 30px;
				line-height: 30px;
				padding: 2px 15px 0;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-top-right-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-topright: 3px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				background-color: #ccc;
			}
			div.head div.navigator div.navlink a:hover {				
				background-color: #e7e7e7;
			}
			div.head div.navigator div.navlink_action  a {
				text-shadow: 1px 1px 1px #cecece;
				color: #333333;
				text-decoration: none;
				filter: glow(color=#cecece,strength=1);
			}

/* Вход в панель управления */
div.enter {
	width: 600px;
	margin: 100px auto 0 auto;
	font-size: 14px;
	text-shadow: 1px 1px 1px #e6e6e6;
    background: #ffffff;
	box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding: 50px 20px 50px 20px;
	border-radius: 5px;
}
	div.enter fieldset {
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-opera-border-radius: 5px;
		border-radius: 5px;
		border: solid 1px #dddddd;
		padding: 20px 20px 20px 20px;
	}
		div.enter fieldset legend {
			color: #004D78;
			font-weight: bold;
			padding: 0px 10px 0px 10px;
		}
	div.enter table {
		width: 100%;
		border-spacing: 10px 10px;
	}
	div.enter table td.left {
		width: 40%;
		text-align: right;
	}
	div.enter table td.right {
		width: 60%;
		text-align: right;
	}
	div.enter table input, div.enter table button {
		float: left;
		text-align: left;
		outline: none;
		color: #333333;
		border: solid 1px #dddddd;
		padding: 3px 10px 3px 10px;
		background-color: #fff;
		width: 290px;
		margin-left: 10px;
		font-size: 14px;
		border-radius: 3px;
	}
	div.enter table button {
		width: 312px;
		text-align: center;
		background-color: #F0F0F0;
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-opera-border-radius: 5px;
		border-radius: 5px;
	}
		
	div.enter table button:hover {
		cursor: pointer;
		background-color: #0084c7;
		color: #fff;
		border: solid 1px #004D78;
	}
		
/* Работа с информацией */
div.body {
	text-shadow: #fff 1px 1px 1px;
	margin: 0 auto;
	width: 93%;
    background: #ffffff;
	box-shadow: 0px 0px 10px #aaa;
	-moz-box-shadow: 0px 0px 10px #aaa;
	-webkit-box-shadow: 0px 0px 10px #aaa;
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url(border-radius.htc);
	padding: 20px 20px 20px 20px;
}

	
	div.body div.plugins {
		float: left;
		border: solid 1px #fff;
		margin-right: 20px;
		padding: 10px;
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-opera-border-radius: 5px;
		border-radius: 5px;
	}
	div.body div.plugins:hover {
		border: solid 1px #004d78;
	}
	div.body div.plugins img {
		float: left;
		margin-right: 10px;
		width: 32px;
		height: 32px;
	}
	div.body div.plugins div {
		float: left; margin-top: 7px;
	}
	div.body div.plugins div a:hover {
		text-decoration: none;
	}

	/* Стили для форм */	

	div.body fieldset {
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-opera-border-radius: 5px;
		border-radius: 5px;
		behavior: url(border-radius.htc);
		border: solid 1px #dddddd;
		padding: 20px 20px 20px 20px;
		margin-bottom: 20px;
	}
		div.body legend, label {
			font-weight: normal;
			text-shadow: #fff 1px 1px 1px;
			padding: 0px 10px 0px 10px;
		}
			div.body legend {
				font-weight: bold;
				color: #004d78;
				font-weight: bold;
			}
			div.body label {
				float: left;
				/*cursor: pointer;*/
				cursor: default;
				clear: both;
				padding-top: 5px;				
				min-width: 200px;
				text-shadow: #fff 1px 1px 1px;				
			}
			div.body label span {
				font-size: 10px;
				float: left;
				color: #6f6f6f;
				width: 200px;
				text-shadow: none;				
			}
			div.body img.browser {
				float: left;
				margin-left: 10px;
				margin-top: 10px;
				cursor: pointer;
			}
			div.body div.fontedit{
				float: right;
				cursor: pointer;
				clear: both;
				padding-top: 5px;				
				min-width: 200px;				
			}
		

	/* Стили для всех input,textarea */

	div.body input, div.body textarea, div.body button {
		float: left;
		text-align: left;
		outline: none;
		color: #333333;
		border: solid 1px #dddddd;
		cursor: auto;
		white-space: pre-wrap;
		margin-bottom: 10px;
		padding: 5px 10px 5px 10px;
	}
	div.body div.textarea {
		float: left;
		text-align: left;
		outline: none;
		color: #333333;
		border: solid 1px #dddddd;
		cursor: auto;
		white-space: pre-wrap;
		
		margin-bottom: 10px;
		padding: 5px 10px 5px 10px;
		
		resize: none;
		overflow-x: hidden;
		-webkit-appearance: textarea;
		-webkit-rtl-ordering: logical;
		-webkit-user-select: text;
		-webkit-box-orient: vertical;
		word-wrap: break-word;
	}	
	* html div.body input {
		border-radius: 3px;
	}
	* html div.body textarea {
		width: 70%;
	}
	div.body div.textarea {
		width: 70%;
		white-space: normal;
		border: none;
	}
	
		div.body input:hover, div.body input:focus {
			border: solid 1px #004d78;
		}
		
		div.body input.info {
			border: none;
			padding: 3px;
		}
		
		div.body input.info:hover {
			color: #cecece;
		}
	/* Стили для всех submit */
	
	div.body input.text,div.body input.password {
		width: 60%;
	}
	
	/* Стили для всех text */
	
	div.body input.submit,div.body button  {
		background-color: #f0f0f0;
		cursor: pointer;
		text-shadow: #fff 1px 1px 1px;
		margin-right: 5px;
		text-decoration:none;
		height: 27px;
		border-radius: 3px;
	}
		div.body a.button, div.body input.button {
			float: left;
			border: solid 1px #dddddd;
			background-color: #f0f0f0;
			cursor: pointer;
			color: #333333;
			text-shadow: #fff 1px 1px 1px;
			text-decoration:none;
			margin: 0px 5px 20px 2px;
			padding: 5px 10px 0px 10px;
			height: 20px;
			border-radius: 3px;
		}
		div.body input.button {
			padding: 5px 10px 10px 10px;
			height: 28px;
		}
		div.body input.submit:hover, div.body button:hover, div.body a.button:hover, div.body input.button:hover {
			background-color: #3D393A;
			border: solid 1px #000;
			color:#ffffff;
			text-shadow:#000 -1px -1px 0;
		}
	
	div.body input.radio,div.body input.checkbox,div.body input[type=checkbox] {
		border: none;
		margin: 4px 0 15px 0;
		width: 20px;
		height: 20px;
	}
	
	div.body span.checkbox {
		float: left;
		margin: 6px 20px 6px 6px;
	}
	
	/* Стили для всех textarea  */
	div.body textarea {
		width: 70%;
	}
	
	/* Стили для всех select, option  */

	div.body select {
		float: left;
		width: 300px;
		height: 27px;
		color: #333;
		background-color: #f0f0f0;
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		text-shadow: 1px 1px 1px #ffffff;
		border: solid 1px #dddddd;
		padding: 3px 5px 4px 5px;
		outline: none;
		margin-bottom: 10px;
	}
	
	/* Таблица с данными */
	div.body table.editor {
		border: none;
		width: 100%;
	}
	
	div.body table.editor  tr.header td{
		background-image: url(../img/title-fon.gif);
		height: 37p;
		padding: 10px 0px 9px 10px;
		color: #444;
		border-bottom: solid 1px #aaa;
	}
	div.body table.editor  tr td{
		padding: 15px 10px 15px;
		border-bottom: solid 1px #eee;
	}
		div.body table.editor  tr td a{
			display: block;
			margin-left: 7px;
		}
		div.body table.editor  tr td img{
			width: 16px;
			height: 16px;
			cursor: pointer;
			float: left;
			margin-right: 2px;
		}
		div.body table.editor  tr td.control img {
			float: right;
			margin-right: 12px;
		}
	
	div.body div.galery{float: left; width: 100px; height: 100px; margin: 0 10px 10px 0; opacity: 0.5;}
	div.body div.galery:hover{ opacity: 1; }
	div.body div.galery a img{ width: 100px; height: 80px;}

body div.copy {
	text-align: center;
	font-size: 13px;
	text-shadow: 1px 1px 1px #e6e6e6;
	margin: 0 auto;
}

img.addImg {
	margin: 7px 0px 0px 10px;
}